@CHARSET "UTF-8";

nav ~ div.container {
  padding-top: 50px;
  background-color: white;
}

div.container[role=messages] {
	  padding-top: 60px;
}

/*
 * Responsive stypes
 */
@media (max-width: 980px) {

  body > .container {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }

} /* END: @media (max-width: 980px) */